<section>
  <div id="corner-logo" fxLayout="row" fxLayoutAlign="left center">
    <i class="mdi mdi-flask-outline"></i>
    <div>
      <b>Flask</b>Studio</div>
  </div>

  <!-- <div class="nav-area">
    <a class="header highlight-header" routerLink="/survey/start-new" routerLinkActive="active">
      <i class="mdi mdi-format-list-checks"></i>Designer
    </a>
  </div>

  <div class="nav-area">
    <a class="header" [routerLink]="['/dashboard']" routerLinkActive="active">
      <i class="mdi mdi-speedometer"></i>Dashboard
    </a>
  </div> -->

  <div class="nav-area" [ngClass]="{open: isOpen('applications')}" (click)="toggleTab('applications')">
    <div class="header">Apps</div>
    <div class="nav-sub" [@openClose]="openTab === 'applications'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-application"></i>Browser Apps</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-cellphone-iphone"></i>Mobile Apps</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-rss"></i>Services</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('state')}" (click)="toggleTab('state')">
    <div class="header">State</div>
    <div class="nav-sub" [@openClose]="openTab === 'state'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-cube-unfolded"></i>Object Blueprints</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-layers"></i>State Projections</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-table-column-remove"></i>Data Migrations</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-table-large"></i>Data Explorer</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('actions')}" (click)="toggleTab('actions')">
    <div class="header">Actions</div>
    <div class="nav-sub" [@openClose]="openTab === 'actions'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-layers"></i>Blueprints</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-account-multiple"></i>Data</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('identity')}" (click)="toggleTab('identity')">
    <div class="header">Identities</div>
    <div class="nav-sub" [@openClose]="openTab === 'identity'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-layers"></i>Users</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-account-multiple"></i>Permissions</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('operations')}" (click)="toggleTab('operations')">
    <div class="header">Operations</div>
    <div class="nav-sub" [@openClose]="openTab === 'operations'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-help"></i>Status</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('analytics')}" (click)="toggleTab('analytics')">
    <div class="header">Analytics</div>
    <div class="nav-sub" [@openClose]="openTab === 'analytics'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-cloud-search-outline"></i>Performance Insights</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-file-import"></i>Domain Analytics</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-file-export"></i>Diagnostics</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-delete-sweep"></i>Auditing</a>
    </div>
  </div>

  <div class="nav-area" [ngClass]="{open: isOpen('admin')}" (click)="toggleTab('admin')">
    <div class="header">Admin</div>
    <div class="nav-sub" [@openClose]="openTab === 'admin'">
      <a href="#" class="nav-item">
        <i class="mdi mdi-message-settings-variant"></i>Company Settings</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-account-card-details"></i>Users</a>
      <a href="#" class="nav-item">
        <i class="mdi mdi-credit-card-settings"></i>Billing</a>
    </div>
  </div>
</section>

<section>
  <div class="nav-area upgrade-nav">
    <div class="upgrade-group">
      <div class="plan-details">
        <div class="plan">Free Plan $0/month</div>
        <div class="usage">0/100 Surveys Sent</div>
      </div>
      <button class="header">UPGRADE</button>
    </div>
  </div>
</section>
