<app-header title="System Actions"></app-header>

<div class="page">
  <div class="page-header">
    <div>
      <h2>Actions List</h2>
    </div>
    <div>
      <button mat-button mat-raised-button color="primary">
        <i class="mdi mdi-plus"></i>CREATE ACTION</button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">

    <div fxFlex="60" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <table class="w100" mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef>Payload</th>
          <td mat-cell *matCellDef="let element">{{element.payload}}</td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Domains</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of element.tags">{{tag}}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>

    <div fxFlex="40" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" class="page-panel">
      <h3>Create Action</h3>
      <mat-form-field>
        <input matInput placeholder="Name">
        <mat-hint>Can contain spaces. Do not include 'Action' in the name.</mat-hint>
      </mat-form-field>
    </div>

  </div>
</div>
