<app-header title="Dashboard"></app-header>

<div class="page">

  <h2>My Surveys</h2>

  <div class="page-panel" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">

    <!-- Getting started panel -->
    <div class="right-divider" fxFlex="33" fxLayout="column">
      <h3>Getting Started</h3>
      <a mat-button routerLink="../survey/start-new" color="primary">
        <i class="mdi mdi-format-list-checks"></i>
        Start New Survey
      </a>
      <button mat-button>
        <i class="mdi mdi-email"></i>
        Send Survey
      </button>
      <button mat-button>
        <i class="mdi mdi-reminder"></i>
        Send Reminders
      </button>
      <button mat-button>
        <i class="mdi mdi-file-find"></i>
        View Results
      </button>
    </div>

    <!-- Stats panel -->
    <div class="right-divider" fxFlex="33">
      <h3>Stats</h3>
      <ul class="list-group list-group-flush stats-list">
        <li class="d-flex align-items-center">
          <span class="badge badge-primary badge-pill">14</span>
          Total you created
        </li>
        <li class="d-flex align-items-center">
          <span class="badge badge-secondary badge-pill">2</span>
          Pending Campaigns
        </li>
        <li class="d-flex align-items-center">
          <span class="badge badge-info badge-pill">1</span>
          Closed Campaigns
        </li>
      </ul>
      <a href="/reporting">Go to Reporting</a>
    </div>

    <!-- Pending panel -->
    <div>
      <h3>Pending</h3>
      <p class="text-mute">None pending at this time</p>
    </div>

  </div>

</div>
