.stats-row {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

span {
  &.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}

.right-divider {
  border-right: solid 1px #efefef;
}
