<app-header title="Start New Survey"></app-header>

<div class="container mt-4">

  <h2>Details</h2>

  <div class="row mt-4 page-panel">
    <form #newSurveyForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
      <div class="form-group">
        <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
        <span class="bmd-help">We'll never share your email with anyone else.</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="newSurveyForm.form.invalid">Next: Setup Questions</button>
    </form>
  </div>

</div>
